# Next.js
.next/
out/

# Node
node_modules/
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Videos (alojar en YouTube o Cloudinary)
*.mp4
*.MP4
*.mov
*.MOV
*.webm
